/* Reset and global styles */
* {
    margin: 0px;
    padding: 0px;
    color: #F4F6FF;
    font-family: 'Bona Nova SC', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: url(/backGroundImage.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

/* Container styling */
.container {
    text-align: center;
    padding: 20px;
}

/* Responsive typography */
.main-heading {
    max-height: max-content;
}

.main-heading img {
    height: 15vh;
    padding-bottom: 1vh;
}

.sub-heading {
    font-size: 2.4vw;
    /*3.2*/
}

.coming-soon {
    font-size: 1.5vw;
    /*2*/
}

.address {
    font-size: 1.2vw;
    /*1.6*/
}

/* Email link styles */
.email-link {
    display: inline-block;
    font-size: 1.6vh;
    text-decoration: none;
}

.email-link:hover {
    display: inline-block;
    font-size: 1.6vh;
    text-decoration: underline;
}

.phoneNumber {
    font-size: 1.6vh;
}

/* Make it responsive for all devices */
@media (min-width: 768px) {
    .main-heading img {
        height: 30vh;
    }

    .sub-heading {
        font-size: 2.4vw;
    }

    .coming-soon {
        font-size: 1.5vw;
    }

    .address {
        font-size: 1.2vw;
    }
}

@media (min-device-width: 390px) and (max-device-width: 768px) {
    .main-heading img {
        height: 15vh;
    }

    .sub-heading {
        font-size: 2.4vh;
    }

    .coming-soon {
        font-size: 1.5vh;
    }

    .address {
        font-size: 1.2vh;
    }
}
